/Ex1_MathRandom.class
/Ex2_RandomClass.class
/Ex3_RandomGame.class
/Ex4_MyCalendar.class
/Ex5_Array.class
/Ex6_Array.class
/Ex7_Array.class
/Ex8_ArraySearchNum.class
/Ex9_ArraySearchString.class
/Ex10_ArraySearchStartsWith.class
/Ex11_ArrayRank.class
/Ex12_ArrayMunje.class
