  .nav {
    position: fixed;
    display : flex;
    justify-content: center;
    left:0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px 50px;
    box-sizing: border-box;
    border-right: 1px solid rgba(121, 121, 121, 0.3);
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0;
    padding-bottom: 400px;
  }

  .nav__link {
    position: relative;
    color: white;
    margin : 10px;
    text-decoration:none;
  }