/*.top-bar {
	width: calc(100% - 200px);
    margin-left: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height : 60px;
}

.top-bar__column-img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
*/

.top-bar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
	background-color: black;
}

.top-bar__list {
	display: flex;
    gap: 10px;
}

.top-bar__link {
	display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}