  body {
    width: 500px;
    margin: 200px auto;
    padding: 20px;
  }

  .regist-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #regist-header__img{
    width: 100px;
    height: 100px;
  }

  .regist-header__title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  #regist-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
  }
  
  #regist-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  #regist-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
  }
  
  #regist-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  
  #regist-form input:focus {
    border-color: cyan;
  }
  
  #regist-form input[type="submit"] {
    background-color: cyan;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
  }
  
  #regist-form a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
  .rphoto {
	margin : 30px 30px;
}